p.speech
{
	position: relative;;
	width: 250px;
	height: 150px;
	background-color: blue;
	border-radius: 30px;
	}
p.speech:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 75px;
	top: 150px;
	border: 25px solid;
	border-color: blue transparent transparent blue;

}
